*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.lib
*.a

*.exe
*.out
*.app

*.dSYM/
*.stackdump

cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json

.idea/
*.iml

*.log

.DS_Store
Thumbs.db
